body{
    background-image: url("https://images.pexels.com/photos/3695378/pexels-photo-3695378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0%;
}


header{

    color:black;
    background-color: #f1bde9 ;
    height: 80px;

}



    
header nav{

    float: right;

    width: 30%;

    margin-top: 15px;

}
    
     
 
    header h1{

    float: left; 

    margin-left: 40px;

}

 

  
header nav ul li{

    display: inline-block;

    margin-left: 10%;

}


header nav ul li a{

    color:black;

    text-decoration: none;

    font-weight: 800;

}



#first{

    background-color:  #f1bde9;

    width: 70%;

    height: 300px;

    text-align: center;
    margin: 30px 0 30px 15%;

}
#first h4{

    font-size: 40px;

    padding-top: 30px;

    color: #270249 ;

}







    #secand{
        
        color: #270249 ;
    
        background-color:  #f1bde9;
    
        margin-bottom: 30px;
        width: 70%;

        height: 300px; 
        margin: 30px 0 30px 15%;
    
    }

   
    #secand div video{
        margin-left: 50% ;
        float: center;
        
    }

    #secand  div {

        font-size: 20px;
        color: #270249;
        text-align: center;


    }

     #third{
           float: center;
            background-color:#f1bde9;
        
            margin-bottom: 40px;
        
        }
        
        #third div{
        
            margin-left: 60px;
        
        }
        
        
    
    
        
        .image {
            display: inline-block;
    
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 20px;
            margin-top: 20px;
            height: 350px;
        
            width: 350px;
            
        
        }


footer{

    height: 100px;

    color:black; 

    background-color: #f1bde9 ;

}



footer p{

    font-size: 20px;

    text-align: center;

    vertical-align: middle;

    line-height: 100px;

    font-weight: 800;

}